{% extends 'theme/base.html' %}
{% block pagecontent %}

<div class="container">
	<div class="row">
	    <div class="col-lg-8 col-lg-offset-2">
	    	<img 
				src="static/theme/images/lemon_logo.png" 
				class="img-responsive center-block" 
				style="width:45%; margin-bottom: 5%; margin-top: 5%;"
			/>
	    </div><!-- /col-lg-8 -->
	</div><!-- /row -->
</div> <!-- /container -->

<br>
<br>


<div class="container" style="background-color:#d6d6d6; width: 100%; margin: 0 auto;">
	<div class="row">
		<br>
		<br>
		<br>
		<div class="col-lg-5">
			<img 
				src="static/theme/images/lemon_half.png" 
				width="150" 
				class="center-block" 
				alt=""
			/>	
		</div>
				
		<div class="col-lg-5">
			<h3>WHAT IS LEMON?</h3>
				<p>Lemon is a new social media platform, where you can register as a user, uploade images, writing post, comment other post and like other peoples post.</p>
		</div>
	</div>
	<br>
	<br>
	<br>
</div>

<br>
<br>
<br>
<br>


{% endblock %}