{% extends 'theme/base.html' %}
{% block extra_head %}
	<link rel="stylesheet" href="static/theme/css/style.css">
{% endblock extra_head %}

{% block pagecontent %}

<br>
<div class="container">
	<div class="row">
	    <div class="col-lg-8 col-lg-offset-2">
	    	<img 
				src="static/theme/images/lemon_logo.png" alt="Lemon logo"
				class="img-responsive center-block lemon_logo" 
			/>
	    </div><!-- /col-lg-8 -->
	</div><!-- /row -->
</div> <!-- /container -->

<br>
<br>


<div class="container" style="background-color:#d6d6d6; width: 100%; margin: 0 auto;">
	<div class="row">
		<br>
		<br>
		<br>
		<div class="col-lg-5">
			<img 
				src="static/theme/images/lemon_half.png" 
				width="150" 
				class="center-block" 
				alt="Lemon piece"
			/>
			<br>	
		</div>
				
		<div class="col-lg-5">
			<h3>WHAT IS LEMON?</h3>
				<p>Lemon is a new social media platform, where you can register as a user, uploade images, writing post, comment other post and like other peoples post.</p>
		</div>
	</div>

	<br>
	<br>
</div>

<br>
<br>
<br>
<br>

<div class="container">
	<h2 class="align_center"> Sing up for free today! </h2>
	<hr width="300">
	<a href="{% url 'user_register' %}" class="btn btn-lg btn_register center-block align_center"> Register</a>
</div>

<br>
<br>
<br>
<br>

	<div id="f">
		<div class="container">
			<div class="row">
				<p>Copyright &copy; Lemon 2015</p>
			</div>
		</div>
	</div>


{% endblock %}