{% extends 'useraccounts/base.html' %}
{% block container %}
	<div class="body">
<div class="row">
               
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    
    <div class="panel">
        <div class="panel-heading">
        	<br>
        </div>
	<form class="form-signin" method="POST" action"{% url 'user_login' %}">
		{% csrf_token %}
		<h2 class="form-signin-heading">Please sign in</h2>
		<hr>

		{% if login_failed %}
        <div class="alert alert-danger" role="alert">Login failed. Please try again!</div>
        {% endif %}

		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		 <label for="inputUsername" class="sr-only">Username</label>
		<input type="text" name="username" class="form-control" placeholder="Username" required autofocus>

		<br>

		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" class="form-control" placeholder="Password" required>

		<hr>
		<button class="btn btn_submit" type="submit"> Sign in </button>
		<a href="{% url 'frontpage' %}" class="btn btn-default">Go back</a>
	</form>
</div>
</div>
</div>
</div>

{% endblock %}