{% extends 'useraccounts/base.html' %}
{% block container %}
	<div class="container body">
            {% if user_saved_successfully %}
                <div class="alert alert-success form-signin"> 
                    Changes has been successfully saved! 
                </div>
                <br>
            {% endif %}

            {% if email_exist %}
                <div class="alert alert-danger form-signin"> 
                    Email is already in use!
                </div>
                <br>
            {% endif %}

<div class="row">
               
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    
    <div class="panel">
        <div class="panel-heading">
            <br>
        </div>

    <form class="form-signin" method="POST" action="{% url 'user_edit_profile' %}">
        {% csrf_token %}

        <h2 class="form-signin-heading">What would you like to change?</h2>
        <hr>

        <div class="form-group">
            <label for="inputFirstName">First Name:</label>
            <input type="text" class="form-control" name="firstname" id="inputFirstName" required value="{{ user.first_name }}">
        </div>

        <div class="form-group">
            <label for="inputLastName">Last Name:</label>
            <input type="text" class="form-control" name="lastname" id="inputLastName"required value="{{ user.last_name }}">
        </div>

        <div class="form-group">
            <label for="inputEmail">Email Address:</label>
            <input type="email" class="form-control" name="email" id="inputEmail" required value="{{ user.email }}">
        </div>

      <button type="submit" class="btn btn_submit">Submit</button>
      <a href="{% url 'frontpage' %}" class="btn btn-default">Go back</a>
</form>
</div>
</div>
</div>
</div>




{% endblock %}