/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* OVERALL ASPECT */

body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.lemon_logo {
    width: 45%;
    margin-bottom: 5%; 
    margin-top: 5%;
}

.btn_register {

    width: 250px;
    background-color: #dab826;
    color: #fff;
}

#f {
    padding-top: 20px;
    background-color: #d6d6d6;
}

#f p {
    text-align: right;
    font-weight: 400;
    margin-right: 5%;
}